* {
  margin: 0;
  padding: 0;
  font-color: #222222;
}

.centerPage{
  width: 65vw;
  margin: auto;
  background-color: #222222;
  height: 100vh;
}

.header{
  background-color: #34A5dA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}

.header > h2{
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.slideShowButtons{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 18px;
}

.slideShowButtons > p{
  cursor: pointer;
  user-select: none;
  color: #858688;
}

.studentContainer{
  width: 55vw;
  margin: auto;
}

.studentCount{
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.studentInfo{
  background-color: #858688;
  padding: 15px 50px;
}

.studentInfo > p{
  font-size: 18px;
}

.facts{
  padding-bottom: 30px;
}

.infoBox{
  margin-top: 60px;
}

.studentName{
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 35px;
}

.bold{
  font-weight: bold;
  font-size: 18px;
}

.questionTitle{
  padding-bottom: 15px;
  font-size: 20px;
}

.questions{
  padding-bottom: 25px;
  list-style-type: none;
  padding-left: 50px;
}

.editButtons{
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
  }

.editButtons > button{
  padding: 5px 30px;
  border-radius: 2222em;
  border-style: none;
  background-color: #34A5dA;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}